@charset "utf-8";

@font-face {
    font-family: 'pf_bague_sans_prothin';
    src: url('../fonts/pfbaguesanspro-thin.eot');
    src: url('../fonts/pfbaguesanspro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-thin.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-thin.woff') format('woff'),
         url('../fonts/pfbaguesanspro-thin.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-thin.svg#pf_bague_sans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_bague_sans_prolight';
    src: url('../fonts/pfbaguesanspro-light.eot');
    src: url('../fonts/pfbaguesanspro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-light.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-light.woff') format('woff'),
         url('../fonts/pfbaguesanspro-light.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-light.svg#pf_bague_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_bague_sans_proregular';
    src: url('../fonts/pfbaguesanspro-regular.eot');
    src: url('../fonts/pfbaguesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-regular.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-regular.woff') format('woff'),
         url('../fonts/pfbaguesanspro-regular.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-regular.svg#pf_bague_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_bague_sans_promedium';
    src: url('../fonts/pfbaguesanspro-medium.eot');
    src: url('../fonts/pfbaguesanspro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-medium.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-medium.woff') format('woff'),
         url('../fonts/pfbaguesanspro-medium.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-medium.svg#pf_bague_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_bague_sans_probold';
    src: url('../fonts/pfbaguesanspro-bold.eot');
    src: url('../fonts/pfbaguesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-bold.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-bold.woff') format('woff'),
         url('../fonts/pfbaguesanspro-bold.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-bold.svg#pf_bague_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_bague_sans_problack';
    src: url('../fonts/pfbaguesanspro-black.eot');
    src: url('../fonts/pfbaguesanspro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-black.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-black.woff') format('woff'),
         url('../fonts/pfbaguesanspro-black.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-black.svg#pf_bague_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'pf_bague_sans_promedium';
	overflow-x: hidden;
	color: #3B1D27;
}
a{
	text-decoration: none;
	color: #3B1D27;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}

.fancybox-skin {
	background: none;
}
.fancybox-close {
	background-image: url("../i/cross-w.png");
	background-size: contain;
	width: 32px;
	height: 31px;
	top: 13px;
    right: 13px;
}
.popup-close {
	background-image: url("../i/cross.png");
	top: 0;
	right: 0;
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.fancybox-image-wrap div{
	
	background-color: #FFFFFF;
}
	.fancybox-image-wrap {

	}
.b-popup {
	width: 600px;
	color: #3a202a;
	padding: 50px;
}
	.b-popup h2{
		text-transform: uppercase;
		font-family: "pf_bague_sans_prolight";
		font-size: 40px;
		padding-bottom: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid #3a202a;
	}
	.b-popup .input-cont {

	margin-bottom: 20px;}
		.b-popup .input-cont label {
			font-size: 24px;
			font-family: "pf_bague_sans_proregular";
			line-height: 1.2;
			display: block;
			float: left;
			margin-top: 8px;
		}
		.b-popup .input-cont input[type=text],.b-popup .input-cont textarea {
			display: block;
			float: right;
			width: 280px;
			padding: 10px;
			font-size: 20px;
			border: 1px solid rgb(58, 32, 42);
			background-color: transparent;
		}
		
		.b-popup .input-cont textarea {
			resize:none;
			height: 95px;
		}    
	.b-popup h3,.b-popup h4{
		font-family: "pf_bague_sans_proregular";
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	.b-popup h4 {
		font-size: 26px;
	}
	.b-popup input[type=submit] {
		background-color: #7f2e04;
	    border: none;
	    color: #fff;
	    padding: 15px 30px;
	    margin-top: 10px;
	    font-size: 20px;
	    font-family: "pf_bague_sans_proregular";
	    cursor: pointer;
	}
	.b-popup input[type=submit]:hover {
		background-color: #9E3B08;
	}
	.radio {
		font-size: 0;
		display: inline-block;
	}

	.radio li {
		display: inline-block;
		margin-left: 35px;
		margin-top: 2px;
	}
	.radio input[type=radio],.radio input[type=checkbox] {
		display: none;
	}
	.radio input[type=radio]:checked + label .checked,.radio input[type=checkbox]:checked + label .checked {
		display: block;
	}
	.radio label {
		display: block;
		cursor: pointer; 
		position: relative;
	}
		.radio label .checked {
			display: none;
			position: absolute;
			top: 6px;
			left: -6px;
			width: 12px;
			height: 12px;
			background-color: #71340f;
			background-position: 50% 50%;
		}
		.radio label h5 {
			padding-left: 20px;
			font-size: 20px;
			position: relative;
			text-align: left;
		}
		.radio label h5:before {
			position: absolute;
			font-size: 0;
			content: "s";
			top: 2px;
			left: -10px;
			border: 2px solid #71340f;
			width: 16px;
			height: 16px;
		}
	#callback-time {
		display: none;
	}
	.input-cont.radio {
		display: block;
	}


.bold{
	font-family: 'pf_bague_sans_probold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.title {
	font-size: 35px;
	font-family: "pf_bague_sans_prolight";
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 6px;
}

.line {
	width: 54px;
	height: 1px;
	background-color: #391f2a;
	margin-top: 20px;
	display: block;
}
.b-header-cont {
	height: 79px;
}
.b-header{
	background-color: #F7F6F2;
	width: 100%;
	position: fixed;
	z-index: 1000;
}
	.b-header .b-block {
		text-transform: uppercase;
		padding: 13px 0;
	}
		.b-header .b-block .b-logo {
			display: block;
		}
			.b-header .b-block .b-logo h3{
				font-size: 15px;
				line-height: 1.2;
				letter-spacing: 1.9px;
				width: 180px;
				margin-top: 17px;
				margin-left: 10px;
				text-align: left;
			}

	.b-header .b-menu {
	margin-top: 17px;
	}
		.b-header .b-menu li{
			float: left;
		}
			.b-header .b-menu li a{
				font-size: 14px;
				padding: 10px 13px;
				letter-spacing: 1.4px;
				line-height: 1.2;
			}
				.b-header .b-menu li a:hover{
					text-decoration: underline;
				}
			.b-header .b-menu li:last-child a{
				padding-right: 0;
			}
	.b-mobile-nav,.b-mobile-menu-cont,.b-overlay {
		display: none;
	}
.b-content {
	box-sizing:border-box;
}
.b-main {
	background-image: url("../i/main-back.jpg");
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
	.b-main .b-block {
		text-transform: uppercase;
		height: 851px;
		box-sizing:border-box;
    	padding: 82px 0 0;
	}
		.b-main .b-block h1 {
			font-size: 50px;
			color: #fff;
			line-height: 1.1;
			letter-spacing: 6px;
			font-family: "pf_bague_sans_probold";
		}
			.b-main .b-block h1 span{
				font-size: 74px;
				letter-spacing: 6px;
				font-family: "pf_bague_sans_problack";
			}

		.b-main .b-block img {
			margin-top: 40px;
		}

		.b-main .b-block h2 {
			font-size: 23px;
			margin-top: 47px;
			letter-spacing: 6px;
		}
	.b-main .b-block .main-square{
		width: 872px;
		height: 261px;
		position: absolute;
		z-index: 100;
		left: 50%;
		bottom: -25px;
		margin-left: -436px;
		background-image: url("../i/main-square.png");
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
	}
		.b-main .b-block .main-square span {
			display: block;
			font-family: "pf_bague_sans_problack";
			font-size: 30px;
			margin-top: 167px;
			margin-left: 46px;
			margin-right: 28px;
			color: #fff;
		}
		.b-main .b-block .main-square span.fadeIn {
			width: 53px;
			text-align: center;
		}

		.b-main .b-block .main-square span.right {
    		margin-right: 50px;
    		margin-left: 20px;
    }		

		.b-main .b-block .main-square span.left.mid {
    		font-size: 38px;
    		margin: 136px 77px 0;
  		}
.b-plan {
	background-color: #f5f4f1;
	padding: 65px 0 163px;
	text-transform: uppercase;
}	
	.b-plan .b-block {
			
	}	
		.b-plan .b-block ul {
			width: 872px;
			display: inline-block;
		}
			.b-plan .b-block ul li {
				width: 240px;
				float: left;
				box-sizing: border-box;
				font-size: 17px;
				letter-spacing: 2px;
				font-family: "pf_bague_sans_promedium";
				color: rgb(0, 0, 0);
				line-height: 1.2;
				padding-bottom: 15px;
				border-bottom: 2px solid #391f2a;
				margin-right: 76px;
			}

			.b-plan .b-block ul li:nth-child(3n) {
				margin-right: 0;
			}
			.b-plan .b-block ul li sup {
				font-size: 10px;
			}
	.b-plan-img.b-block {
		margin-top: 285px;
		position: relative;
		width: 1240px;
	}
	.b-plan-img.b-block div,.b-plan-img.b-block .center{
		width: 521px;
		height: 294px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}
	.b-plan-img.b-block .left {
		background-image: url("../i/plan-left.jpg");
	}
	.b-plan-img.b-block .right {
		background-image: url("../i/plan-right.jpg");
	}
	.b-plan-img.b-block .center {
		display: block;
		height: 292px;
		position: absolute;
		left: 50%;
		top: -128px;
		margin-left: -259px;
		background-image: url("../i/plan-center.jpg");
	}
	
		.b-plan-img.b-block .center span{
			position: absolute;
			width: 194px;
			height: 193px;
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			background-image: url("../i/plan-triangle.png");
			top: 40px;
			left: 159px;
		} 
			.b-plan-img.b-block .center span:before {
				position: absolute;
				content:"+";
				left: 50%;
				margin-left: -35px;
				top: 16px;
				font-size: 120px;
				color: #fff;
				font-family: "pf_bague_sans_problack";
				opacity:0;
				visibility:hidden;
				-webkit-transition: all 150ms ease-out;
				-moz-transition: all 150ms ease-out;
				-ms-transition: all 150ms ease-out;
				-o-transition: all 150ms ease-out;
				transition: all 150ms ease-out;
			}
		.b-plan-img.b-block .center h3 {
			opacity:1;
			visibility:visible;
			-webkit-transition: all 150ms ease-out;
			-moz-transition: all 150ms ease-out;
			-ms-transition: all 150ms ease-out;
			-o-transition: all 150ms ease-out;
			transition: all 150ms ease-out;
			font-family: "pf_bague_sans_proregular";
			display: inline-block;
			font-size: 39px;
			color: #fff;
			line-height: 1.2;
			margin-top: 93px;
			letter-spacing: 9px;
			position: relative;
		}
		.b-plan-img.b-block .center:hover h3{
			opacity:0;
			visibility:hidden;
			-webkit-transform: scale(1.2);
			   -moz-transform: scale(1.2);
			    -ms-transform: scale(1.2);
			   	 -o-transform: scale(1.2);
					transform: scale(1.2);
		}
			.b-plan-img.b-block .center:hover span:before{
				opacity:1;
				visibility:visible;
				-webkit-transform: scale(0.8);
			    -moz-transform: scale(0.8);
			    -ms-transform: scale(0.8);
			   	 -o-transform: scale(0.8);
					transform: scale(0.8);
				
			}

#map_canvas {
	height: 632px;
}
.map-marker {
	text-align: left;
	font-size: 19px;
	letter-spacing: 3px;
	width: 230px;
	line-height: 1.2;
}
.b-footer {
	background-color: #f4f1ec;
	text-transform: uppercase;
}
.b-footer.b-inf {
	padding-top: 0 !important;
}
	.b-footer a{
		float: left;
		display: block;
		width: 33.3%;
		font-size: 16px;
		color: #000;
		padding: 88px 0px 35px;
		box-sizing: border-box;
		letter-spacing: 1.5px;
		position: relative;
	}

	.b-footer a:nth-child(2n) {
		background-color: #eeebe0;
	}
		.b-footer a:before {
			position: absolute;
			content: "s";
			font-size: 0;
			top: 30px;
			left: 50%;
			margin-left: -22px;
			width: 44px;
			height: 40px;
			background-position: 50% 100%;
			background-repeat: no-repeat;
		}
		.b-footer a:nth-child(1):before {
			background-image: url("../i/callback.png");
		}
		.b-footer a:nth-child(2):before {
			background-image: url("../i/planning.png");

		}
		.b-footer a:nth-child(3):before {
			background-image: url("../i/note.png");
		}
		.b-footer a:hover {
			text-decoration: underline;
		}
.b-apartment {
}
	.b-apartment .b-block {
		padding: 82px 0 68px;
	}
		.b-apartment .b-block h2{
			font-size: 55px;
			font-family: "pf_bague_sans_prothin";
			color: rgb(0, 0, 0);
			line-height: 1.2;
			text-align: left;
		}
		.b-apartment .b-block .apartment-cont {
			margin-top: 28px;
			text-transform: uppercase;
		}
			.b-apartment .b-block .apartment-cont .bg-img {
				width: 445px;
				margin-top: 10px;
			}
			.b-apartment .b-block .apartment-cont .main-desc {
				width: 487px;
			}
				.b-apartment .b-block .apartment-cont .main-desc h3 {
					font-size: 41px;
					font-family: "pf_bague_sans_prolight";
					color: #982c04;
					line-height: 1.2;
					text-align: left;
				}
					.b-apartment .b-block .apartment-cont .main-desc h3 span {
						font-family: "pf_bague_sans_proregular";
					}

				.b-apartment .b-block .apartment-cont .main-desc ul {
					margin-top: 29px;
				}
					.b-apartment .b-block .apartment-cont .main-desc li {
						float: left;
						margin-right: 31px;
						cursor: pointer;
						font-size: 0;
					}
					.b-apartment .b-block .apartment-cont .main-desc li:nth-child(3n) {
						margin-right: 0;
					}
						.b-apartment .b-block .apartment-cont .main-desc li img {
							width: 141px;
							margin-bottom: 20px;
						}
						.b-apartment .b-block .apartment-cont .main-desc li h4 {
							font-size: 14px;
							line-height: 1.2;			
							letter-spacing: 1.5px;
						}
				.b-apartment .b-block .apartment-cont .main-desc .board {
					margin-top: 23px;
					background-color: #f5f4f1;
				}
					.b-apartment .b-block .apartment-cont .main-desc .board img {
						font-size: 0;
					}
					.b-apartment .b-block .apartment-cont .main-desc .right {
						width: 287px;
						margin: 15px 22px 11px;
						box-sizing: border-box;
						text-align: left;
						height: 122px;
					}
						.b-apartment .b-block .apartment-cont .main-desc .right .top-board >div, .b-apartment .b-block .apartment-cont .main-desc .right .bot-board >div{
							max-width: 74px;
							float: left;
							padding-right: 17px;
							padding-left: 17px;
							border-right: 1px solid #cbb7a9;
						}
						.b-apartment .b-block .apartment-cont .main-desc .right .top-board .first, .b-apartment .b-block .apartment-cont .main-desc .right .bot-board .first {
							padding-left: 0;
						}
						.b-apartment .b-block .apartment-cont .main-desc .right .top-board .last, .b-apartment .b-block .apartment-cont .main-desc .right .bot-board .last {
							border-right: none;
						}

						.b-apartment .b-block .apartment-cont .main-desc .right .top-board {
							color: #982c04;
							padding-bottom: 9px;
							border-bottom: 1px solid #7f2e04;
						}
						.b-apartment .b-block .apartment-cont .main-desc .right .bot-board {
							margin-top: 13px;
						}
							.b-apartment .b-block .apartment-cont .main-desc .right h5{
								font-size: 12px;
								font-family: "pf_bague_sans_proregular";
								line-height: 1.2;
								letter-spacing: 1.3px;
							}
							
								.b-apartment .b-block .apartment-cont .main-desc .right h6{
									font-size: 18px;
									font-family: "pf_bague_sans_problack";
									line-height: 1.2;
									margin-top: 7px;
								}
									.b-apartment .b-block .apartment-cont .main-desc .right h6 sup{
										font-size: 10px;
								}
.b-desc {
	background-color: #eeece7;
	text-align: left;
}
	.b-desc .b-block {
		padding-bottom: 40px;
	}
		.b-desc .b-block .text-desc {

		}
			.b-desc .b-block .text-desc .left {
				width: 670px;
				margin-top: 38px;
			}
				.b-desc .b-block .text-desc .left p {
					font-size: 18px;
					font-family: "pf_bague_sans_proregular";
					color: rgb(0, 0, 0);
					line-height: 1.4;
					margin-top: 25px;
				}
				.b-desc .b-block .b-text ul {
					margin-left: 30px;
					margin-top: 25px;
				}
					.b-desc .b-block .b-text ul li {
						font-size: 18px;
						font-family: "pf_bague_sans_proregular";
						color: rgb(0, 0, 0);
						line-height: 1.5;
						list-style-type: disc;
						padding-left: 5px;
					}
			.b-desc .b-block .text-desc .right {
				width: 290px;
				margin-top: -6px;
				background-color: #f5f4f1;
			}
				.b-desc .b-block .text-desc .right .spec {
					padding: 49px 13px 34px;
				}

					.b-desc .b-block .text-desc .right .spec h3 {
						font-size: 18px;
						font-family: "pf_bague_sans_problack";
						text-transform: uppercase;
						line-height: 1.2;
					}
					.b-desc .b-block .text-desc .right .spec .line {

					margin-top: 15px;margin-bottom: 12px;}
					.b-desc .b-block .text-desc .right .spec h4 {
						font-size: 15px;
						font-family: "pf_bague_sans_problack";
						color: rgb(58, 32, 42);
						line-height: 1.5;
					}
						.b-desc .b-block .text-desc .right .spec h4 span {
							font-family: "pf_bague_sans_proregular";
							color: #462e37;
						}
							.b-desc .b-block .text-desc .right .spec h4 span sup{
								font-size: 8px;
							}
					.b-desc .b-block .text-desc .right a {
						font-size: 13px;
						color: #fff;
						text-transform: uppercase;
						line-height: 1.2;
						background-color: #7f2e04;
						width: 100%;
						display: block;
						padding: 11px 0 10px 54px;
						letter-spacing: 1.4px;
						box-sizing: border-box;
						position: relative;
					}
						.b-desc .b-block .text-desc .right a:before {
							position: absolute;
							content: "s";
							font-size: 0;
							top: 10px;
							left: 14px;
							width: 23px;
							height: 30px;
							background-position: 50%;
							background-size: contain;
							background-repeat: no-repeat;
							background-image: url("../i/note-w.png");
						}
						.b-desc .b-block .text-desc .right a:hover {
							text-decoration: underline;
						}

		.b-desc .b-block .features {
			font-size: 0;
			margin-top: 10px;
			display: inline-block;
			text-align: left;
			margin-left: -25px;
		}
			.b-desc .b-block .features li {
				width: 167px;
				display: inline-block;
				box-sizing: border-box;
				text-align: center;
				vertical-align: top;
				margin-top: 40px;
			}
				.b-desc .b-block .features li div {
					position: relative;
					display: inline-block;
					text-align: center;
					width: 106px;
					height: 106px;
					border-radius: 50%;
					background-position: 50%;
					background-repeat: no-repeat;
					background-color: #f5f4f1;
				}
				.b-desc .b-block .features li:first-child {
					border-left: none;
				}
				.b-desc .b-block .features li h5{
					top: -14px;
					text-transform: uppercase;
					position: relative;
					font-size: 12px;
					font-family: "pf_bague_sans_proregular";
					line-height: 1.2;
					letter-spacing: 1.3px;
					display: block;
					text-align: center;
				}
.b-floor {
	background-color: #f5f4f1;
	padding: 62px 0 92px;
}
	.b-floor .b-block {
		text-align: left;
	}
		.b-floor .b-block .line {

		width: 72px;margin-top: 23px;}

	.b-floor ul {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		margin-top: 35px;
	}

		.b-floor ul li{
			float: left;
			width: 33.3%;
			padding-top: 17px;
			box-sizing:border-box;
			border-left: 1px solid #ddd7d0;
			font-size: 0;
		}

		.b-floor ul li:first-child {
			border-left: none;
		}
			.b-floor ul li a {
				display: inline-block;
			}

			.b-floor ul li img {
				width: 276px;
				margin-bottom: 40px;
			}
			.b-floor ul li h3 {
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
.b-order-plan {
	background-image: url("../i/plan-back.jpg");
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	
}
	.b-order-plan .b-block {
		background-image: url("../i/back-triangle.png");
		background-position: 50% 40%;
		background-repeat: no-repeat;
		height: 763px;
		box-sizing:border-box;
		padding: 301px 0 0;
		width: 1280px;
	}
		.b-order-plan .b-block h3 {
			font-size: 30px;
			display: inline-block;
			font-family: "pf_bague_sans_prolight";
			text-transform: uppercase;
			line-height: 1.2;
			letter-spacing: 4px;
			width: 750px;
		}
.b-content .b-inf:nth-child(2n+1) {
	background-color: #eeece7;
}
.b-content .b-inf:nth-child(2n) {
	background-color: #F9F8F6;
}
.b-content .b-inf:nth-last-child(2) {
	background-color: #fff;
}
.b-inf {

}
	.b-inf .b-block {

}
		.b-inf .b-block h2{		
			font-size: 55px;		
			font-family: "pf_bague_sans_prothin";		
			color: rgb(0, 0, 0);		
			line-height: 1.2;	
			text-align: left;		
			padding: 60px 0 100px;
		}
		.b-inf .b-block .inf-cont {
			/*padding: 80px 0;*/
		}
			.b-inf .b-block .inf-cont .left {
				width: 467px;
				height: 467px;
				background-image: url("../i/back-inf-1.png");
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: contain;
				position: relative;
			}
			.b-content .b-inf:nth-child(2n) .b-block .inf-cont .left {
				background-image: url("../i/back-inf-2.png");
			}
				.b-inf .b-block .inf-cont .left img {
					max-width: 100%;
					margin-top: 57px;
					width: 384px;
				}
				.b-inf .b-block .inf-cont .left span {

				}
				.b-inf .b-block .inf-cont .left .photo-btn {
					width: 180px;
					height: 180px;
					background-image: url("../i/photo-back.png");
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: contain;
					box-sizing: border-box;
					padding-top: 88px;
					position: absolute;
					right: -97px;
					top: 240px;
					cursor: pointer;
					font-family: "pf_bague_sans_promedium";
					font-size: 14px;
					text-transform: uppercase;
					line-height: 1.2;
					letter-spacing: 1.7px;
				}
					.b-inf .b-block .inf-cont .left .photo-btn:hover {
						background-image: url("../i/photo-back-hover.png");
						color: #fff;
					}
						.b-inf .b-block .inf-cont .left .photo-btn:hover:before {

						}
			.b-inf .b-block .inf-cont .right {
				width: 347px;
				text-align: left;
			}
				.b-inf .b-block .inf-cont .right .title {
					font-size: 25px;
					letter-spacing: 4px;
					font-family: "pf_bague_sans_promedium";
				}
				.b-inf .b-block .inf-cont .right .line {
					width: 70px;
				}
				.b-inf .b-block .inf-cont .right p {
					font-size: 18px;
				    font-family: "pf_bague_sans_proregular";
				    color: rgb(0, 0, 0);
				    line-height: 1.2;
				    margin-top: 20px;
				}

.b-project {

}
	.b-project .b-block {
		padding: 75px 0 100px;
		text-align: left;
	}
		.b-project .b-block h2 {
			font-size: 55px;
		    font-family: "pf_bague_sans_prothin";
		    color: rgb(0, 0, 0);
		    line-height: 1.2;
		    text-align: left;
		    margin-bottom: 45px;
		}
		.b-project .b-block h3 {
			font-size: 20px;
			font-family: "pf_bague_sans_problack";
			text-transform: uppercase;
			line-height: 1.2;
		}
		.b-project .b-block h4 {
			font-family: "pf_bague_sans_proregular";
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.2;
		    margin-bottom: 5px;
		    letter-spacing: 1.3px;
		}
		.b-project .b-block p {
			font-size: 18px;
		    font-family: "pf_bague_sans_proregular";
		    color: rgb(0, 0, 0);
		    line-height: 1.4;
		    margin-bottom: 25px;
		}
		.b-project .b-block .project-cont > .left {
			width: 600px;
		}
		.b-project .b-block .project-cont > .right {
			width: 240px;
		}
			.b-project .b-block .project-cont > .right .line{
				margin-top: 15px;
				margin-bottom: 15px;
			}

.b-popup-gallery {
	background-color: #F5F4F1;
}
	.b-popup-gallery h3 {
		font-size: 20px;
		color: #fff;
		padding: 17px 0px;
		font-family: "pf_bague_sans_promedium";
		background-color: #7F2E04;
		text-transform: uppercase;
	}
	.b-popup-gallery .popup-gallery {
		padding: 50px;

	}
		.arrow {
			width: 48px;
			height: 90px;
			position: absolute;
			top: 50%;
			margin-top: -45px;
			cursor: pointer;
			background-position: 50%;
			background-repeat: no-repeat;
			opacity: 0.5;
		}
		.arrow:hover {
			opacity: 1;
		}
		.popup-left-arrow,.order-left-arrow {
			background-image: url("../i/left-arrow.png");
			left: 0px;
		}
		.popup-right-arrow,.order-right-arrow {
			background-image: url("../i/right-arrow.png");
			right: 0px;
		}
		.slick-disabled {
			display: none !important; 
		}
			.b-popup-gallery .popup-gallery .arrow {
				width: 24px;
				height: 45px;	
				background-size: 24px 45px;
				padding: 50px 20px;
				margin-top: -73px;
			}
			.order-plan-slider .arrow {
				background-size: 48px 90px;
				margin-top: -195px;	
				background-position: 50%;
				padding: 100px 50px;			
			}
			.order-plan-slider .order-left-arrow {
				left: 50%;
				margin-left: -640px;			
			}
			.order-plan-slider .order-right-arrow {
				right: 50%;
				margin-right: -640px;
			}
		.b-popup-gallery .popup-gallery .gallery-img {
			font-size: 0;
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
		}

.b-townhouse {
	background-color: #ede9db;
	overflow: hidden;
}		
	.b-townhouse .b-block {
		text-align: left;
		padding: 105px 0 0;
	}
		.b-townhouse .b-block h2 {
		    font-size: 55px;
		    font-family: "pf_bague_sans_prothin";
		    color: rgb(0, 0, 0);
		    line-height: 1.2;
		    margin-bottom: 67px;
		}
		.b-townhouse .b-block .slider-cont {

margin-bottom: 45px;

}
			.b-townhouse .b-block .slider-cont h3 {
				font-size: 22px;
				font-family: "pf_bague_sans_prolight";
				color: rgb(58, 32, 42);
				text-transform: uppercase;
				line-height: 1.2;
				letter-spacing: 2px;
				margin-bottom: 46px;
			}

			.b-townhouse .b-block .slider-cont .slider {
				height: 2px;
				border:none;
				background-color: #fff;
				margin-bottom: 20px;
			}
			.slider .ui-widget-header {
				background: #70340f;
			}
			.slider .ui-state-default, .slider .ui-widget-content .ui-state-default, .slider .ui-widget-header .ui-state-default {
				border:none;
				background: none;
				background-image: url("../i/slider-stick.png");
				width: 13px;
				height: 21px;
				top: -19px;
				border-radius: 0;
				margin-left: -6px;
			}
			.b-townhouse .b-block .slider-cont label,.b-townhouse .b-block .slider-cont span {
				font-size: 14px;
				font-family: "pf_bague_sans_proregular";
				color: rgb(58, 32, 42);
				line-height: 1.2;
				margin-right: 3px;
			}
			.b-townhouse .b-block .slider-cont label.last {
				margin-left: 20px;
			}
			.b-townhouse .b-block .slider-cont input {
				width: 43px;
				font-size: 14px;
				font-family: "pf_bague_sans_proregular";
				color: rgb(58, 32, 42);
				background: none;
				border-color: #70340f;
				box-sizing: border-box;
				margin-right: 5px;
				text-align: center;
				padding: 1px 5px;
			}

			.b-townhouse .b-block .slider-cont span sup{
				font-size: 9px;

			}

			.b-townhouse .b-block .slider-cont > .left{
				width: 450px;
			}
			.b-townhouse .b-block .slider-cont > .right {
				width: 450px;
			}
				.b-townhouse .b-block .slider-cont > .right input {
					width: 60px;
				}
		.b-townhouse .b-block .filter {
			margin-bottom: 68px;
		}
			.b-townhouse .b-block .filter span {
				font-size: 14px;
				font-family: "pf_bague_sans_promedium";
				color: rgb(58, 32, 42);
				text-transform: uppercase;
				padding: 4px 18px;
				background-color: #f5f4f1;
				letter-spacing: 1.3px;
			}
			.b-townhouse .b-block .filter a {
				border-bottom: 1px dashed #c1b8b2;
				font-size: 14px;
				font-family: "pf_bague_sans_prolight";
				color: rgb(58, 32, 42);
				text-transform: uppercase;
				line-height: 1.2;
				position: relative;
				margin-left: 52px;
				margin-top: 6px;
				letter-spacing: 1px;
			}
			.b-townhouse .b-block .filter a:hover {
				border-bottom: 0;
			}
			.b-townhouse .b-block .filter a:before {
				position: absolute;
				font-size: 0;
				content: "";
				width: 13px;
				height: 12px;
				left: -25px;
				top: 1px;
				background-image: url("../i/refresh.png");
			}
		.b-townhouse .b-block h4 {
			font-size: 22px;
			font-family: "pf_bague_sans_proregular";
			color: rgb(58, 32, 42);
			line-height: 1.2;
			padding-left: 74px;
			margin-bottom: 55px;
			position: relative;
			margin-left: 35px;
		}
		.b-townhouse .b-block h4:before {
			position: absolute;
			font-size: 0;
			content: "";
			width: 58px;
			height: 67px;
			left: 0px;
			top: -20px;
			background-image: url("../i/board.png");
		}
		.b-townhouse .house-list {
			width: 1140px;
			margin: 0 auto;
			padding-bottom: 65px;
		}
			.b-townhouse .house-list ul {		
				padding-bottom: 60px;
			}
				.b-townhouse .house-list li {
					padding-left: 35px;
					margin-right: 30px;
					margin-bottom: 30px;
					float: left;

				}
					.b-townhouse .house-list li .house-cont {
						width: 220px;
						background-color: #f1eee5;
						text-align: left;
						padding: 21px 25px 15px;
						padding-right: 0;
						box-sizing: border-box;
						position: relative;
					}
						.b-townhouse .house-list li .number {
						position: absolute;
						font-size: 21px;
						font-family: "pf_bague_sans_promedium";	
						line-height: 1.2;
						top: 70px;
						left: -35px;
						color: #c2b9b3;
					}
							.b-townhouse .house-list li .house-cont:hover .number{
								color: rgb(58, 32, 42);
							}
						.b-townhouse .house-list li .house-cont h5 {
							font-size: 22px;
							font-family: "pf_bague_sans_prolight";
							color: #813004;
							line-height: 1.2;
							margin-bottom: 25px;
						}
						.b-townhouse .house-list li .house-cont h6 {
							font-size: 14px;
							font-family: "pf_bague_sans_probold";
							color: rgb(58, 32, 42);
							font-weight: bold;
							line-height: 1.583;
						}
							.b-townhouse .house-list li .house-cont h6 span {
								font-family: "pf_bague_sans_prolight";

							}
								.b-townhouse .house-list li .house-cont h6 span sup {
									font-size: 10px;
								}
							.b-townhouse .house-list li .house-cont a {
								font-size: 10px;
								font-family: "pf_bague_sans_promedium";
								color: #813004;
								text-decoration: underline;
								text-transform: uppercase;
								margin-top: 22px;
								display: block;
							}
								.b-townhouse .house-list li .house-cont a:hover {
									text-decoration: none;
								}
.b-contacts {

}
	.b-contacts .b-block {
		padding: 75px 0 100px;
	}
		.b-contacts .b-block h2 {
			font-size: 55px;
		    font-family: "pf_bague_sans_prothin";
		    color: rgb(0, 0, 0);
		    line-height: 1.2;
		    margin-bottom: 45px;
		}
		.b-contacts .b-block h3 {
			font-size: 20px;
		    font-family: "pf_bague_sans_problack";
		    text-transform: uppercase;
		    line-height: 1.8;
		}
@media (min-width: 768px) and (max-width: 1279px){
	.b-plan .b-plan-img.b-block {
		width: 960px;
	}
	.b-plan-img.b-block div,.b-plan-img.b-block .center{
		width: 410px;
		height: 231px;
	}
	.b-plan-img.b-block .center {
		top: -100px;
		margin-left: -205px;
	}
		.b-plan-img.b-block .center span{
			width: 145px;
			height: 144px;
			top: 36px;
			left: 130px;
		} 
		.b-plan-img.b-block .center h3 {
			font-size: 34px;
			margin-top: 70px;
		}
	.b-plan-img.b-block .center span:before {
		margin-left: -30px;
    	top: 7px;
    	font-size: 100px;
	}
	.order-plan-slider .b-block {
		width: 960px;
	}
	.order-plan-slider .arrow {
		background-size: 48px 90px;
		margin-top: -195px;	
		background-position: 50%;
		padding: 100px 20px;			
	}
	.order-plan-slider .order-left-arrow {
		margin-left: -480px;
	}
	.order-plan-slider .order-right-arrow {
		margin-right: -480px;
	}
	.b-townhouse .b-block h4 {
		margin-left: 102px;
	}
	.b-townhouse .house-list {
			width: 960px;
		}
			.b-townhouse .house-list ul {
				margin: 0 67px;
			}
				.b-townhouse .house-list li:nth-child(3n) {
					margin-right: 0;
				}
				.b-townhouse .house-list li:nth-child(4n) {
					margin-right: 30px;
				}

}
.top-board .last h6{
	width: 90px;
	font-size: 17px;
}
.b-not-found{
	width: 540px;
    display: inline-block;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 100px;
}
	.b-not-found h1{
		font-size: 90px;
	    font-family: "pf_bague_sans_probold";
	    color: #982c04;
	}
	.b-not-found h2{
		font-size: 50px;
    	font-family: "pf_bague_sans_prolight";
	}
	.b-not-found h3{
		margin-top: 20px;
    	font-size: 20px;
	}
		.b-not-found h3 a{
			color: #982c04;
    		text-decoration: underline;
		}
			.b-not-found h3 a:hover{
				text-decoration: none;
			}
.b-genplan {

}
	.b-genplan .b-block {
		width: 100%;
		font-size: 0;
	}
		.b-genplan .b-block .back {
			width: 100%;
		}
		.b-genplan .b-block .numbers {
			position: absolute;
			opacity: 0.75;
			cursor: pointer;
		}
			.b-genplan .b-block .numbers:hover{
				opacity: 1;
			}
		.b-genplan .b-block .one {
			left: 14.8%;
		    top: 35.394%;
		    width: 6.6875%;
		    height: 10.5973%;
		}
		.b-genplan .b-block .one-a {
			left: 32%;
		    top: 40.6551%;
		    width: 8.8125%;
		    height: 10.1156%;
		}
		.b-genplan .b-block .two {
			left: 73.3125%;
		    top: 45.3757%;
		    width: 5.5625%;
		    height: 9.6339%;
		}
		.b-genplan .b-block .three {
			left: 64.4375%;
		    top: 29.8651%;
		    width: 5.875%;
		    height: 8.7669%;
		}
		.b-genplan .b-block .four {
			left: 20.9375%;
		    top: 19.7495%;
		    width: 5.8125%;
		    height: 9.5376%;
		}
		.b-genplan .b-block .four-a {
			left: 38.5625%;
		    top: 16.474%;
		    width: 9%;
		    height: 9.9229%;
		}
		.b-genplan .b-block .five {
			left: 73.375%;
		    top: 17.919%;
		    width: 6.25%;
		    height: 9.1522%;
		}
		.point {
			position: absolute;
			width: 1%;
			height: 1.5414%;
		}
		.b-genplan .b-block .plan-point {
			width: 100%;
			height: 100%;
			background-image: url("../i/plan-point.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50%;
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-osx-font-smoothing: grayscale;
			-webkit-transition-duration: 0.2s;
			transition-duration: 0.2s;
			-webkit-transition-property: transform;
			transition-property: transform;
			cursor: pointer;
			z-index: 800;
			font-size: 0;
			-webkit-transform: scale(1);
				transform: scale(1);
		}

		.b-genplan .b-block .point .plan-point:hover {
			-webkit-transform: scale(1.5);
				transform: scale(1.5);
		}
		.b-genplan .b-block .point.active .plan-point {
			-webkit-transform: scale(4);
				transform: scale(4);
		}
		.b-genplan .b-block .plan-line {
			display: none;
			width: 3px;
			height: 49px;
			top: 37px;
			left: 5px;
			position: absolute;
			background-image: url("../i/plan-line.png");
		}
		.plan-popup{
			position: absolute;
			display: none;
			background: rgba(240,238,232,0.95);
			width: 330px;
			text-align: left;
			padding: 16px;
			top: 98px;
			left: -165px;
			text-transform: uppercase;
			height: 273px;
			z-index: 900;
		}
			.plan-popup h3 {
				font-family: "pf_bague_sans_prolight";
				font-size: 14px;
				color: #58301D;
				line-height: 14px;
				letter-spacing: 4px;
			}
			.plan-popup h4 {
				font-family: "pf_bague_sans_probold";
				font-size: 14px;
				color: #58301D;
				line-height: 14px;
				letter-spacing: 4px;
			}
			.plan-popup h2 {
				font-family: "pf_bague_sans_prolight";
				font-size: 32px;
				color: #58301D;
				line-height: 37px;
				text-transform: lowercase;
				margin-top: 5px;
				padding-bottom: 15px;
				margin-bottom: 25px;
				border-bottom: 1px solid #58301D;
				letter-spacing: 1px;
			}
				.plan-popup .top-board > div, .plan-popup .bot-board > div{
					float: left;
					padding-right: 13px;
					padding-left: 13px;
					border-right: 1px solid #58301D;
				}
				.plan-popup .top-board .first, .plan-popup .bot-board .first {
					padding-left: 0;
				}
				.plan-popup .top-board .last, .plan-popup .bot-board .last {
					border-right: none;
					padding-right: 0;
				}

				.plan-popup .top-board {
					color: #58301D;
					padding-bottom: 10px;
					border-bottom: 1px solid #58301D;
				}
				.plan-popup .bot-board {
					margin-top: 13px;
					margin-bottom: 30px;
				}
					.plan-popup .top-board h5,.plan-popup .bot-board h5{
						font-size: 12px;
						font-family: "pf_bague_sans_proregular";
						line-height: 1.2;
						letter-spacing: 1.3px;
						letter-spacing: 4px;
					}
					
						.plan-popup .top-board h6,.plan-popup .bot-board h6{
							font-size: 18px;
							font-family: "pf_bague_sans_problack";
							line-height: 1.2;
							margin-top: 7px;
							color: #58301D;
						}
							.plan-popup .top-board h6 sup,.plan-popup .bot-board h6 sup{
								font-size: 10px;
							}
				.plan-popup a {
					font-size: 14px;
					line-height: 14px;
					letter-spacing: 4px;
					background-color: #71340F;
					padding: 5px 9px 4px;
					color: #fff;
					font-family: "pf_bague_sans_prolight";
					display: inline-block;
				}








@media screen and (max-width: 1020px){

}