@charset "utf-8";

@font-face {
    font-family: 'pf_bague_sans_prothin';
    src: url('../fonts/pfbaguesanspro-thin.eot');
    src: url('../fonts/pfbaguesanspro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-thin.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-thin.woff') format('woff'),
         url('../fonts/pfbaguesanspro-thin.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-thin.svg#pf_bague_sans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_bague_sans_prolight';
    src: url('../fonts/pfbaguesanspro-light.eot');
    src: url('../fonts/pfbaguesanspro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-light.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-light.woff') format('woff'),
         url('../fonts/pfbaguesanspro-light.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-light.svg#pf_bague_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_bague_sans_proregular';
    src: url('../fonts/pfbaguesanspro-regular.eot');
    src: url('../fonts/pfbaguesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-regular.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-regular.woff') format('woff'),
         url('../fonts/pfbaguesanspro-regular.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-regular.svg#pf_bague_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_bague_sans_promedium';
    src: url('../fonts/pfbaguesanspro-medium.eot');
    src: url('../fonts/pfbaguesanspro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-medium.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-medium.woff') format('woff'),
         url('../fonts/pfbaguesanspro-medium.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-medium.svg#pf_bague_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_bague_sans_probold';
    src: url('../fonts/pfbaguesanspro-bold.eot');
    src: url('../fonts/pfbaguesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-bold.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-bold.woff') format('woff'),
         url('../fonts/pfbaguesanspro-bold.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-bold.svg#pf_bague_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_bague_sans_problack';
    src: url('../fonts/pfbaguesanspro-black.eot');
    src: url('../fonts/pfbaguesanspro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbaguesanspro-black.woff2') format('woff2'),
         url('../fonts/pfbaguesanspro-black.woff') format('woff'),
         url('../fonts/pfbaguesanspro-black.ttf') format('truetype'),
         url('../fonts/pfbaguesanspro-black.svg#pf_bague_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'pf_bague_sans_promedium';
	overflow-x: hidden;
	color: #3a202a;
}
a{
	text-decoration: none;
	color: #3a202a;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'pf_bague_sans_probold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}
.title {
	font-size: 35px;
	font-family: "pf_bague_sans_prolight";
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 6px;
}

.line {
	width: 54px;
	height: 1px;
	background-color: #391f2a;
	margin-top: 20px;
	display: block;
}
.b-header{
	background-color: #f6f5f2;
	width: 100%;
    position: fixed;
    z-index: 1000;

}
	.b-header .b-block {
		text-transform: uppercase;
		padding: 12px 0;
	}
		.b-header .b-block .b-logo {
			display: block;
		}
			.b-header .b-block .b-logo h3{
				font-size: 11px;
				line-height: 1.2;
				letter-spacing: 1.9px;
				width: 140px;
				margin-top: 12px;
				margin-left: 10px;
				text-align: left;
			}

	.b-header .b-menu {
	margin-top: 10px;
	}
		.b-header .b-menu li{
			float: left;
		}
			.b-header .b-menu li a{
				font-size: 10px;
				padding: 10px 13px;
				letter-spacing: 1.4px;
				line-height: 1.2;
			}
				.b-header .b-menu li a:hover{
					text-decoration: underline;
				}
			.b-header .b-menu li:last-child a{
				padding-right: 0;
			}
.b-content {
	padding-top: 62px;
	box-sizing:border-box;
}
.b-main {
	background-image: url("../i/main-back.jpg");
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
	.b-main .b-block {
		text-transform: uppercase;
		height: 851px;
		box-sizing:border-box;
    	padding: 82px 0 0;
	}
		.b-main .b-block h1 {
			font-size: 50px;
			color: #fff;
			line-height: 1.1;
			letter-spacing: 6px;
			font-family: "pf_bague_sans_probold";
		}
			.b-main .b-block h1 span{
				font-size: 74px;
				letter-spacing: 6px;
				font-family: "pf_bague_sans_problack";
			}

		.b-main .b-block img {
			margin-top: 40px;
		}

		.b-main .b-block h2 {
			font-size: 21px;
			margin-top: 47px;
			letter-spacing: 6px;
		}
	.b-main .b-block .main-square{
		width: 872px;
		height: 261px;
		position: absolute;
		z-index: 100;
		left: 50%;
		bottom: -25px;
		margin-left: -436px;
		background-image: url("../i/main-square.png");
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
	}
		.b-main .b-block .main-square span {
			display: block;
			font-family: "pf_bague_sans_problack";
			font-size: 25px;
			margin-top: 170px;
    		margin-left: 52px;
    		margin-right: 31px;
			color: #fff;
		}

		.b-main .b-block .main-square span.right {
    		margin-right: 63px;
    		margin-left: 32px;
  		}		

		.b-main .b-block .main-square span.left.mid {
    		font-size: 38px;
    		margin: 136px 77px 0;
  		}
.b-plan {
	background-color: #f5f4f1;
	padding: 57px 0 163px;
	text-transform: uppercase;
}	
	.b-plan .b-block {
			
	}	
		.b-plan .b-block ul {
			width: 820px;
			display: inline-block;
		}
			.b-plan .b-block ul li {
				width: 222px;
				float: left;
				box-sizing: border-box;
				font-size: 15px;
				letter-spacing: 2px;
				font-family: "pf_bague_sans_promedium";
				color: rgb(0, 0, 0);
				line-height: 1.2;
				padding-bottom: 15px;
				border-bottom: 2px solid #391f2a;
				margin-right: 76px;
			}

			.b-plan .b-block ul li:nth-child(3n) {
				margin-right: 0;
			}
			.b-plan .b-block ul li sup {
				font-size: 9px;
			}
	.b-plan-img.b-block {
		margin-top: 285px;
		position: relative;
		width: 1240px;
	}
	.b-plan-img.b-block div,.b-plan-img.b-block .center{
		width: 521px;
		height: 294px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}
	.b-plan-img.b-block .left {
		background-image: url("../i/plan-left.jpg");
	}
	.b-plan-img.b-block .right {
		background-image: url("../i/plan-right.jpg");
	}
	.b-plan-img.b-block .center {
		display: block;
		height: 292px;
		position: absolute;
		left: 50%;
		top: -128px;
		margin-left: -259px;
		background-image: url("../i/plan-center.jpg");
	}
	
		.b-plan-img.b-block .center span{
			position: absolute;
			width: 194px;
			height: 193px;
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			background-image: url("../i/plan-triangle.png");
			top: 40px;
			left: 159px;
		} 
		.b-plan-img.b-block .center h3 {
			opacity:1;
		    visibility:visible;
		    -moz-transition: -moz-transform .1s, opacity .1s linear, visibility .1s linear .1s;
		    -webkit-transition: -webkit-transform .1s, opacity .1s linear, visibility .1s linear .1s;
		    -o-transition: -o-transform .1s, opacity .1s linear, visibility .1s linear .1s;
		    transition: transform .1s, opacity .1s linear, visibility .1s linear .1s;
			font-family: "pf_bague_sans_proregular";
			display: inline-block;
			font-size: 36px;
			color: #fff;
			line-height: 1.2;
			margin-top: 93px;
			letter-spacing: 9px;
		}
		.b-plan-img.b-block .center:hover h3{
			opacity:0;
			visibility:hidden;
		}
#map_canvas {
	height: 632px;
}
.map-marker {
	text-align: left;
	font-size: 19px;
	letter-spacing: 3px;
	width: 230px;
	line-height: 1.2;
}
.b-footer {
	background-color: #f4f1ec;
	text-transform: uppercase;
}
	.b-footer a{
		float: left;
		display: block;
		width: 33.3%;
		font-size: 13px;
		color: #000;
		padding: 88px 0px 35px;
		box-sizing: border-box;
		letter-spacing: 1.5px;
		position: relative;
	}

	.b-footer a:nth-child(2n) {
		background-color: #eeebe0;
	}
		.b-footer a:before {
			position: absolute;
			content: "s";
			font-size: 0;
			top: 30px;
			left: 50%;
			margin-left: -22px;
			width: 44px;
			height: 40px;
			background-position: 50% 100%;
			background-repeat: no-repeat;
		}
		.b-footer a:nth-child(1):before {
			background-image: url("../i/callback.png");
		}
		.b-footer a:nth-child(2):before {
			background-image: url("../i/planning.png");

		}
		.b-footer a:nth-child(3):before {
			background-image: url("../i/note.png");
		}
		.b-footer a:hover {
			text-decoration: underline;
		}
.b-apartment {
	
}
	.b-apartment .b-block {
		padding: 82px 0 68px;
	}
		.b-apartment .b-block h2{
			font-size: 55px;
			font-family: "pf_bague_sans_prothin";
			color: rgb(0, 0, 0);
			line-height: 1.2;
			text-align: left;
		}
		.b-apartment .b-block .apartment-cont {
			margin-top: 28px;
			text-transform: uppercase;
		}
			.b-apartment .b-block .apartment-cont .bg-img {
				width: 445px;
				height: 450px;
				background-size: contain;
				background-position: 50%;
				background-repeat: no-repeat;
				margin-top: 10px;
			}
			.b-apartment .b-block .apartment-cont .main-desc {
				width: 487px;
			}
				.b-apartment .b-block .apartment-cont .main-desc h3 {
					font-size: 41px;
					font-family: "pf_bague_sans_prolight";
					color: #982c04;
					line-height: 1.2;
					text-align: left;
				}
					.b-apartment .b-block .apartment-cont .main-desc h3 span {
						font-family: "pf_bague_sans_proregular";
					}

				.b-apartment .b-block .apartment-cont .main-desc ul {
					margin-top: 29px;
				}
					.b-apartment .b-block .apartment-cont .main-desc li {
						float: left;
						margin-right: 31px;
						cursor: pointer;
					}
					.b-apartment .b-block .apartment-cont .main-desc li:nth-child(3n) {
						margin-right: 0;
					}
						.b-apartment .b-block .apartment-cont .main-desc li div {
							width: 141px;
							height: 186px;
							background-size: contain;
							background-repeat: no-repeat;
							background-position: 50% 0%;

						}
						.b-apartment .b-block .apartment-cont .main-desc li h4 {
							font-size: 12px;
							line-height: 1.2;
							margin-top: 6px;
							letter-spacing: 1.5px;
						}
				.b-apartment .b-block .apartment-cont .main-desc .board {
					margin-top: 28px;
					background-color: #f5f4f1;
				}
					.b-apartment .b-block .apartment-cont .main-desc .board img {
						font-size: 0;
					}
					.b-apartment .b-block .apartment-cont .main-desc .right {
						width: 287px;
						margin: 16px 22px 14px;
						box-sizing: border-box;
						text-align: left;
					}
						.b-apartment .b-block .apartment-cont .main-desc .right .top-board >div, .b-apartment .b-block .apartment-cont .main-desc .right .bot-board >div{
							max-width: 74px;
							float: left;
							padding-right: 17px;
							padding-left: 17px;
							border-right: 1px solid #cbb7a9;
						}
						.b-apartment .b-block .apartment-cont .main-desc .right .top-board .first, .b-apartment .b-block .apartment-cont .main-desc .right .bot-board .first {
							padding-left: 0;
						}
						.b-apartment .b-block .apartment-cont .main-desc .right .top-board .last, .b-apartment .b-block .apartment-cont .main-desc .right .bot-board .last {
							border-right: none;
						}

						.b-apartment .b-block .apartment-cont .main-desc .right .top-board {
							color: #982c04;
							padding-bottom: 9px;
							border-bottom: 1px solid #7f2e04;
						}
						.b-apartment .b-block .apartment-cont .main-desc .right .bot-board {
							margin-top: 13px;
						}
							.b-apartment .b-block .apartment-cont .main-desc .right h5{
								font-size: 10px;
								font-family: "pf_bague_sans_proregular";
								line-height: 1.2;
								letter-spacing: 1.3px;
							}
							
								.b-apartment .b-block .apartment-cont .main-desc .right h6{
									font-size: 18px;
									font-family: "pf_bague_sans_problack";
									line-height: 1.2;
									margin-top: 8px;
								}
									.b-apartment .b-block .apartment-cont .main-desc .right h6 sup{
										font-size: 10px;
								}
.b-desc {
	background-color: #eeece7;
	text-align: left;
}
	.b-desc .b-block {
		padding-bottom: 40px;
	}
		.b-desc .b-block .text-desc {

		}
			.b-desc .b-block .text-desc .left {
				width: 690px;
				margin-top: 38px;
			}
				.b-desc .b-block .text-desc .left p {
					font-size: 16px;
					font-family: "pf_bague_sans_proregular";
					color: rgb(0, 0, 0);
					line-height: 1.2;
					margin-top: 21px;
				}
			.b-desc .b-block .text-desc .right {
				width: 227px;
				margin-top: -6px;
				background-color: #f5f4f1;
			}
				.b-desc .b-block .text-desc .right .spec {
					padding: 49px 0 34px 13px; 
				}

					.b-desc .b-block .text-desc .right .spec h3 {
						font-size: 18px;
						font-family: "pf_bague_sans_problack";
						text-transform: uppercase;
						line-height: 1.2;
					}
					.b-desc .b-block .text-desc .right .spec .line {

					margin-top: 15px;margin-bottom: 12px;}
					.b-desc .b-block .text-desc .right .spec h4 {
						font-size: 12px;
						font-family: "pf_bague_sans_problack";
						color: rgb(58, 32, 42);
						line-height: 1.5;
					}
						.b-desc .b-block .text-desc .right .spec h4 span {
							font-family: "pf_bague_sans_proregular";
							color: #462e37;
						}
							.b-desc .b-block .text-desc .right .spec h4 span sup{
								font-size: 8px;
							}
					.b-desc .b-block .text-desc .right a {
						font-size: 13px;
						color: #fff;
						text-transform: uppercase;
						line-height: 1.2;
						background-color: #7f2e04;
						width: 100%;
						display: block;
						padding: 11px 0 10px 54px;
						letter-spacing: 1.4px;
						box-sizing: border-box;
						position: relative;
					}
						.b-desc .b-block .text-desc .right a:before {
							position: absolute;
							content: "s";
							font-size: 0;
							top: 10px;
							left: 14px;
							width: 23px;
							height: 30px;
							background-position: 50%;
							background-size: contain;
							background-repeat: no-repeat;
							background-image: url("../i/note-w.png");
						}
						.b-desc .b-block .text-desc .right a:hover {
							text-decoration: underline;
						}

		.b-desc .b-block .features {

		font-size: 0;margin-top: 64px;}
			.b-desc .b-block .features li {
				width: 160px;
				display: inline-block;
				box-sizing: border-box;
				text-align: center;
				border-left: 1px solid #fff;
				vertical-align: top;
			}
				.b-desc .b-block .features li div {
					position: relative;
					display: inline-block;
					width: 85px;
					height: 85px;
					border-radius: 50%;
					background-position: 50%;
					background-repeat: no-repeat;
					background-color: #f5f4f1;
				}
				.b-desc .b-block .features li:first-child {
					border-left: none;
				}
				.b-desc .b-block .features li h5{
					top: -14px;
					text-transform: uppercase;
					position: relative;
					min-height: 24px;
					width: 100px;
					font-size: 10px;
					font-family: "pf_bague_sans_proregular";
					line-height: 1.2;
					letter-spacing: 1.3px;
					display: inline-block;
				}
.b-floor {
	background-color: #f5f4f1;
	padding: 62px 0 92px;
}
	.b-floor .b-block {
		text-align: left;
	}
		.b-floor .b-block .line {

		width: 72px;margin-top: 23px;}

	.b-floor ul {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		margin-top: 35px;
	}

		.b-floor ul li{
			float: left;
			width: 33.3%;
			padding-top: 17px;
			box-sizing:border-box;
			border-left: 1px solid #ddd7d0;
		}

		.b-floor ul li:first-child {
			border-left: none;
		}
			.b-floor ul li a {
				display: inline-block;
			}

			.b-floor ul li div {
				width: 276px;
				height: 365px;
				display: inline-block;
				background-position: 50% 0%;
				background-size: contain;
				background-repeat: no-repeat;
			}
			.b-floor ul li h3 {
				font-size: 18px;
				text-transform: uppercase;
				margin-top: 15px;
				letter-spacing: 2px;
			}
.b-order-plan {
	background-image: url("../i/plan-back.jpg");
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	
}
	.b-order-plan .b-block {
		background-image: url("../i/back-triangle.png");
		background-position: 50% 40%;
		background-repeat: no-repeat;
		height: 763px;
		box-sizing:border-box;
		padding: 301px 0 0;
	}
		.b-order-plan .b-block h3 {
			font-size: 30px;
			display: inline-block;
			font-family: "pf_bague_sans_prolight";
			text-transform: uppercase;
			line-height: 1.2;
			letter-spacing: 4px;
			width: 750px;
		}
@media (min-width: 1000px) and (max-width: 1279px){
	.b-plan .b-plan-img.b-block {
		width: 960px;
	}
	.b-plan-img.b-block div,.b-plan-img.b-block .center{
		width: 410px;
		height: 231px;
	}
	.b-plan-img.b-block .center {
		top: -100px;
		margin-left: -205px;
	}
		.b-plan-img.b-block .center span{
			width: 145px;
			height: 144px;
			top: 36px;
			left: 130px;
		} 
		.b-plan-img.b-block .center h3 {
			font-size: 30px;
			margin-top: 72px;
		}
}

@media screen and (max-width: 1020px){

}